﻿@model Design3.Areas.SuperAdmin.ManageCompany

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ManageCompany</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthPerson1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthPerson1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthPerson2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthPerson2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthPersonPhNo1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthPersonPhNo1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthPersonPhNo2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthPersonPhNo2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyLogo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyLogo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyBanner)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyBanner)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City.City_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City.City_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State.State_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State.State_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomePhNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomePhNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OfficePhNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OfficePhNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompanyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompanyName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
