﻿@model Design3.Areas.SuperAdmin.ManageCompany

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ManageCompany</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Address)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Address)
            @Html.ValidationMessageFor(model => model.Address)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ContactNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ContactNo)
            @Html.ValidationMessageFor(model => model.ContactNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthPerson1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthPerson1)
            @Html.ValidationMessageFor(model => model.AuthPerson1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthPerson2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthPerson2)
            @Html.ValidationMessageFor(model => model.AuthPerson2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthPersonPhNo1)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthPersonPhNo1)
            @Html.ValidationMessageFor(model => model.AuthPersonPhNo1)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AuthPersonPhNo2)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AuthPersonPhNo2)
            @Html.ValidationMessageFor(model => model.AuthPersonPhNo2)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyLogo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyLogo)
            @Html.ValidationMessageFor(model => model.CompanyLogo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyBanner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyBanner)
            @Html.ValidationMessageFor(model => model.CompanyBanner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CityId, "City")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CityId", String.Empty)
            @Html.ValidationMessageFor(model => model.CityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StateId, "State")
        </div>
        <div class="editor-field">
            @Html.DropDownList("StateId", String.Empty)
            @Html.ValidationMessageFor(model => model.StateId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.HomePhNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.HomePhNo)
            @Html.ValidationMessageFor(model => model.HomePhNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OfficePhNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OfficePhNo)
            @Html.ValidationMessageFor(model => model.OfficePhNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CompanyName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CompanyName)
            @Html.ValidationMessageFor(model => model.CompanyName)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
