﻿@model Design3.Areas.SuperAdmin.AbuseSupport

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AbuseSupport</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ListingId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ListingId)
            @Html.ValidationMessageFor(model => model.ListingId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AgentId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AgentId)
            @Html.ValidationMessageFor(model => model.AgentId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IssueSubject)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IssueSubject)
            @Html.ValidationMessageFor(model => model.IssueSubject)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Status)*@
            <select name="Status">
                <option value="Active" selected="selected">Active</option>
                <option value="Deactive">Deactive</option>
            </select>
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MobilNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MobilNo)
            @Html.ValidationMessageFor(model => model.MobilNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UserId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UserId)
            @Html.ValidationMessageFor(model => model.UserId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
