﻿@model Design3.Areas.SuperAdmin.AbuseSupport

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AbuseSupport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListingId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListingId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IssueSubject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IssueSubject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobilNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
