﻿@model Design3.Areas.SuperAdmin.AbuseSupport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>AbuseSupport</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ListingId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ListingId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgentId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgentId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IssueSubject)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IssueSubject)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MobilNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MobilNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
