﻿@model IEnumerable<Design3.Areas.SuperAdmin.State>

@{
    ViewBag.Title = "Manage State";
}

<h2>Manage State</h2>

<p>
    @Html.ActionLink("Add New State", "Create")
</p>
<form>
    <input type="text" name="searchState" placeholder="Search State Name" />
    <input type="submit" value="Search" />
</form>
<table class="table table-responsive table-bordered table-striped">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Country.Country_name)*@
            Country Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.State_name)*@
            State Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Country_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
