﻿@model IEnumerable<Design3.Areas.SuperAdmin.ManageCompany>

@{
    ViewBag.Title = "Manage Company";
}

<h2>Manage Company</h2>

<p>
    @Html.ActionLink("Add New Company", "Create")
</p>
<form>
    <input type="text" name="searchCompany" placeholder="Search Company Name" />
    <input type="submit" value="Search" />
</form>
<table class="table table-responsive table-bordered table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthPerson1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthPerson2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthPersonPhNo1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthPersonPhNo2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyBanner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City.City_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State.State_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomePhNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OfficePhNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthPerson1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthPerson2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthPersonPhNo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthPersonPhNo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyBanner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.City_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.State_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomePhNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficePhNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
