﻿@model IEnumerable<Design3.Areas.SuperAdmin.City>

@{
    ViewBag.Title = "Manage City";
}

<h2>Manage City</h2>

<p>
    @Html.ActionLink("Add New City", "Create")
</p>

<form>
    <input type="text" name="searchCity" placeholder="Search City Name" />
    <input type="submit" value="Search" />
</form>

<table class="table table-responsive table-bordered table-striped table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.State.State_name)*@
            State Name
        </th>
        <th>
            City Name
            @*@Html.DisplayNameFor(model => model.City_name)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State.State_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
