﻿@model Design3.Areas.SuperAdmin.Manage_Deal_Type

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Manage_Deal_Type</legend>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Deal_type)*@
            DealType
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Deal_type)
            @Html.ValidationMessageFor(model => model.Deal_type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Status)*@
            <select name="Status">
                <option value="Active" selected="selected">Active</option>
                <option value="Deactive">Deactive</option>
            </select>
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Created_by_deals)*@
            CreatedByDeals
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created_by_deals)
            @Html.ValidationMessageFor(model => model.Created_by_deals)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Modified_by_deals)*@
            ModifiedByDeals
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modified_by_deals)
            @Html.ValidationMessageFor(model => model.Modified_by_deals)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Created_date)*@
            CreatedDate
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created_date)
            @Html.ValidationMessageFor(model => model.Created_date)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Modified_date)*@
            ModifiedDate
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modified_date)
            @Html.ValidationMessageFor(model => model.Modified_date)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
