﻿@model Design3.Areas.SuperAdmin.Manage_Deal_Type

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Manage_Deal_Type</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deal_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deal_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created_by_deals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created_by_deals)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modified_by_deals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified_by_deals)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modified_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified_date)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
