﻿@model Design3.Areas.SuperAdmin.Manage_Deal_Type

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Manage_Deal_Type</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deal_type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deal_type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created_by_deals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created_by_deals)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modified_by_deals)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified_by_deals)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modified_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified_date)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
