﻿@model Design3.Areas.SuperAdmin.Manage_Deal_Type

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Manage_Deal_Type</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Deal_type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Deal_type)
            @Html.ValidationMessageFor(model => model.Deal_type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Status)
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Created_by_deals)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created_by_deals)
            @Html.ValidationMessageFor(model => model.Created_by_deals)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modified_by_deals)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modified_by_deals)
            @Html.ValidationMessageFor(model => model.Modified_by_deals)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Created_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created_date)
            @Html.ValidationMessageFor(model => model.Created_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Modified_date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modified_date)
            @Html.ValidationMessageFor(model => model.Modified_date)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
