﻿@model IEnumerable<Design3.Areas.SuperAdmin.Manage_Deal_Type>

@{
    ViewBag.Title = "Manage Deals";
}

<h2>Manage Deals</h2>

<p>
    @Html.ActionLink("Add New Deal", "Create")
</p>
<form>
    <input type="text" name="searchDeal" placeholder="Search Deal Type" />
    <input type="submit" value="Search" />
</form>

<table class="table table-responsive table-bordered table-striped">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Deal_type)*@
            Deal Type
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Status
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Created_by_deals)*@
            Created By Deals
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Modified_by_deals)*@
            Modified By Deals
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Created_date)*@
            Created Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Modified_date)*@
            Modified Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Deal_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_by_deals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_by_deals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
