﻿@model Design3.Models.RegisterModel
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@{
    ViewBag.Title = "Register";
}

@*<form id="register-form" action="https://phpoll.com/register/process" method="post" role="form" style="display: none;">*@
 @using (Html.BeginForm()) {
       @Html.AntiForgeryToken()
       @Html.ValidationSummary()
    
    <div class="form-group">
        <input type="text" name="UserName" id="UserName" tabindex="1" class="form-control" placeholder="Enter User" value="">
	</div>
									
     <div class="form-group">
	    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email Address" value="">
	</div>
	
     <div class="form-group">
		<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
	</div>
									
     <div class="form-group">
		<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password">
	</div>
									
     <div class="form-group">
			<div class="row">
				<div class="col-sm-6 col-sm-offset-3">
					<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
				</div>
			</div>
	</div>
 }
    
    
    @*<hgroup class="title">
            <h1>@ViewBag.Title.</h1>
            <h2>Create a new account.</h2>
        </hgroup>

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <fieldset>
                <legend>Registration Form</legend>
                <ol>
                    <li>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
                    </li>
                    <li>
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.PasswordFor(m => m.ConfirmPassword)
                    </li>
                </ol>
                <input type="submit" value="Register" />
            </fieldset>
        }*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
