﻿@model Design3.Areas.SuperAdmin.Manage_Category

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Manage_Category</legend>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Category_name)*@
            CategoryName
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category_name)
            @Html.ValidationMessageFor(model => model.Category_name)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Category_description)*@     
            CategoryDescription
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category_description)
            @Html.ValidationMessageFor(model => model.Category_description)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Parent_category_id)*@
            ParentCategoryId
        </div>
        <div class="editor-field">
            @Html.DropDownList("Parent_category_id", String.Empty)
            @*@Html.EditorFor(model => model.Parent_category_id)*@
            @Html.ValidationMessageFor(model => model.Parent_category_id)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Created_by)*@
            CreatedBy
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created_by)
            @Html.ValidationMessageFor(model => model.Created_by)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Modified_by)*@
            ModifiedBy
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modified_by)
            @Html.ValidationMessageFor(model => model.Modified_by)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Created_date)*@
            CreatedDate
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Created_date)
            @Html.ValidationMessageFor(model => model.Created_date)
        </div>

        <div class="editor-label">
            @*@Html.LabelFor(model => model.Modified_date)*@
            ModifiedDate
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Modified_date)
            @Html.ValidationMessageFor(model => model.Modified_date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Status)
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.Status)*@
            <select name="Status">
                <option value="Active" selected="selected">Active</option>
                <option value="Deactive">Deactive</option>
            </select>
            @Html.ValidationMessageFor(model => model.Status)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
