﻿@model Design3.Areas.SuperAdmin.Manage_Category

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Manage_Category</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category_name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category_name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category_description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category_description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Parent_category_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parent_category_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modified_by)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified_by)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Created_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Modified_date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Modified_date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
