﻿@model IEnumerable<Design3.Areas.SuperAdmin.Manage_Category>

@{
    ViewBag.Title = "Manage Categories";
}

<h2>Manage Categories</h2>

<p>
    @Html.ActionLink("Add New Category", "Create")
</p>
<table class="table table-responsive table-bordered table-striped table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Category_name)*@
            Category Name
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Category_description)*@
            Category Description
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Parent_category_id)*@
            ParentCategoryId
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Created_by)*@
            Created By
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Modified_by)*@
            Modified By
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Created_date)*@
            Created Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Modified_date)*@
            Cretaed Date
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Status)*@
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent_category_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_by)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
